# SPDX-License-Identifier: GPL-2.0

if SOC_SIFIVE

config SIFIVE_WGCHECKER
	bool "Sifive world guard checker"
	default y
	help
	  Provide driver for worldguard checkers. This driver registers
	  interrupt handler for each WorldGuard Checker appears on the DT, and
	  only reports, but do not handle the first access violation to the
	  protected range.

endif
